body {
    background: #fff;
    margin: 0;
    padding: 0;
}

#container {
    background: #fff;
    margin: 0;
    padding: 0;
    position: relative;
    
}

canvas {
    float: right;
    border: 1px solid black;
}

#debug {
    border: 1px solid red;
}

